@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, Helvetica, sans-serif;
}

body, html, #content_container {
    height: 100%;
    width: 100%;
}

#start_script_btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
   
    height: 80px;
    width: 400px;
    padding: 0 80px 0 10px;
    border-radius: 10px;
    margin: 0 auto;
    
    background: url(../images/start.svg) no-repeat right; 
    background-color: #f6f8fa;
    
    line-height: 80px;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 800;
    color: #f44336;
    text-align: center;
}

#start_script_btn:hover {
    transform: translateY(-55%);
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#results {
    width: 800px;
    margin: 0 auto;
}

.run_info, .run_chart, .run_data {
    width: 100%;
    padding: 5px;
    background: #f6f8fa;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}

.run_info {
    margin-top: 10px;
    position: relative;
}

.run_chart {
}

.run_data {
    margin-bottom: 0;
}

#stop_script_btn {
    letter-spacing: 3px;
    font-weight: 800;
    border-radius: 8px;
    background: #e2e5e7;
    color: #f44336;
    padding: 5px 3px 5px 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#stop_script_btn:hover {
    background-color: #0070c9;
    color: #fff;
    border: None;
    cursor: pointer;
}
